<app-nav></app-nav>

<div clsss="Policy-layout" style="display:flex ; background-color:rgba(216, 222, 239, 0.815);">
    <div class="policy-layout-componemt">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src={{PolicyToDelete.policyImagePath}} class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2017/01/18/23/50/insurance-1991216__340.jpg" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://media.istockphoto.com/id/1199060494/photo/insurance-protecting-family-health-live-house-and-car-concept.jpg?b=1&s=170667a&w=0&k=20&c=Pu8AxndCpL1RuaViIAOPSr-_jiNoox39Ee_aYzhDikw=" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
    </div>
    <div class="policy-layout-componemt" style="padding-left: 30px;">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Characteristics</th>
                    <th scope="col">Discription</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Policy Id</td>
                    <td>{{PolicyToDelete.policyId}}</td>
                </tr>
                <tr>
                    <td>Policy Name</td>
                    <td>{{PolicyToDelete.policyName}}</td>
                </tr>
                <tr>
                    <td>Policy Category</td>
                    <td>{{PolicyToDelete.policyCategory}}</td>
                </tr>
                <tr>
                    <td>Policy Discription</td>
                    <td>{{PolicyToDelete.policyDiscription}}</td>
                </tr>
                <tr>
                    <td>Total Cost</td>
                    <td>{{PolicyToDelete.totalCost}}</td>
                </tr>
                <tr>
                    <td>Total Time Duration</td>
                    <td>{{PolicyToDelete.timeDuration}}</td>
                </tr>
            </tbody>
            <a (click)='DeletePolicy(PolicyToDelete)'style="margin-bottom: 23px;" class="btn btn-danger">Delete Policy</a>
        
        </table>
    </div>
</div>
<footer>
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">LifeCare.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</footer>
