<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <!-- <pre class="navbar-brand" href="#" style="font-weight: bold; color: darkblue;"> {{userName}}      LifeCare -- Say By To All Your Life Problems</pre> -->
        <a class="navbar-brand" href="#"> LifeCare -- Say Byy To All Your Life Problems</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h3 class="offcanvas-title" id="offcanvasNavbarLabel" style="font-family: cursive; color: darkblue;">LIFECARE - Solution for all your life problem</h3>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/userdashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/edituser">Manage Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Support</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Policy Status
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/usersubspolicy">Your Subscribe Policy</a></li>
                            <li><a class="dropdown-item" routerLink="/userpendingpolicy">Your Pending Policy</a></li>
                            <li><a class="dropdown-item" routerLink="/userrejectedpolicy">Your Rejected Policy</a></li>
                            <!-- <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/userrating">Logout</a>
                    </li>
                </ul>
                <!-- <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
            </div>
        </div>
    </div>
</nav>



<div class="wellcome-text" style="margin-top:60px;">
    <h1 style="font-weight: bold; color: darkblue; margin-left: 7px;"> Welcome.. {{userName}} </h1>
</div>
<!-- <Section> -->
<section style="margin: 0px; padding: 0px;">
    <div *ngFor="let Policy of AllPolicies ; let i = index" style="display:inline-block;">
        <div style="margin:50px;">
            <div class="card" style="width: 370px; height: 460px;">
                <img src="{{Policy.policyImagePath}}" class="card-img-top" alt="Fissure in Sandstone" />
                <div class="card-body">
                    <h2 class="card-title" style="color:darkblue; font-weight: bold;">{{Policy.policyName}}</h2>
                    <p class="card-text">{{Policy.policyDiscription}}</p>
                    <!-- <a href="#!" class="btn btn-primary">More Info</a> -->
                    <a (click)='myPolicies(Policy)' class="btn btn-primary">More Info</a>
                    <!-- <a [routerLink]="['/policy-details',+Policy.policyId]" class="btn btn-primary">More Info</a> -->
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">LifeCare.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</footer>


<!-- </Section> -->