<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15"
                    alt="MDB Logo" loading="lazy" />
            </a>
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:darkblue;font-weight: bold;">Renew Your Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:darkblue;font-weight: bold;">Claim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color:darkblue;font-weight: bold;">Support</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Icon -->
            <a class="text-reset me-3" href="#">
                <i class="fas fa-shopping-cart"></i>
            </a>

            <!-- Notifications -->
            <div class="dropdown">
                <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                    role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bell"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">1</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="#">Some news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                </ul>
            </div>
            <!-- Avatar -->
            <div class="dropdown">
                <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                    id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25"
                        alt="Black and White Portrait of a Man" loading="lazy" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                    <li>
                        <a class="dropdown-item" href="#">My profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div clsss="Policy-layout" style="display:flex ; background-color:rgba(216, 222, 239, 0.815);">
    <div class="policy-layout-componemt">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src={{Policy.policyImagePath}} class="d-block w-100" alt="...">
              </div>
              <!-- <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2017/01/18/23/50/insurance-1991216__340.jpg" alt="...">
              </div> -->
              <div class="carousel-item">
                <img src="https://media.istockphoto.com/id/1199060494/photo/insurance-protecting-family-health-live-house-and-car-concept.jpg?b=1&s=170667a&w=0&k=20&c=Pu8AxndCpL1RuaViIAOPSr-_jiNoox39Ee_aYzhDikw=" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>
    </div>
    <div class="policy-layout-componemt" style="padding-left: 30px;">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Characteristics</th>
                    <th scope="col">Discription</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Policy Id</td>
                    <td>{{Policy.policyId}}</td>
                </tr>
                <tr>
                    <td>Policy Name</td>
                    <td>{{Policy.policyName}}</td>
                </tr>
                <tr>
                    <td>Policy Category</td>
                    <td>{{Policy.policyCategory}}</td>
                </tr>
                <tr>
                    <td>Policy Discription</td>
                    <td>{{Policy.policyDiscription}}</td>
                </tr>
                <tr>
                    <td>Total Cost</td>
                    <td>{{Policy.totalCost}}</td>
                </tr>
                <tr>
                    <td>Total Time Duration</td>
                    <td>{{Policy.timeDuration}}</td>
                </tr>
            </tbody>
            <a routerLink="/userDetails"style="margin-top: 23px;" class="btn btn-primary">Subscribe Now</a>
        </table>
    </div>
</div>
<footer>
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">LifeCare.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</footer>