<app-nav></app-nav>
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form class="mx-1 mx-md-4" #AddNewPolicy="ngForm"(ngSubmit)="AddPolicy(AddNewPolicy)">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" class="form-control form-control-lg" name="policyName" [(ngModel)]="NewPolicy.policyName" placeholder="Policy Name" />
                        <label class="form-label" for="form3Example1c">Policy Name</label>
                      </div>
                    </div>
   
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" class="form-control form-control-lg" name="policyDiscription" [(ngModel)]="NewPolicy.policyDiscription" placeholder="Policy Discription" />
                        <label class="form-label" for="form3Example3c">Policy Discription</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" class="form-control form-control-lg" name="policyCategory" [(ngModel)]="NewPolicy.policyCategory" placeholder="Policy Category" />
                        <label class="form-label" for="form3Example4c">Policy Category</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <input type="text" class="form-control form-control-lg" name="policyImagePath" [(ngModel)]="NewPolicy.policyImagePath" placeholder="Image Link" />
                          <label class="form-label" for="form3Example4c">Image Path</label>
                        </div>
                      </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <input type="number" class="form-control form-control-lg" name="totalCost" [(ngModel)]="NewPolicy.totalCost" placeholder="Total Cost" />
                          <label class="form-label" for="form3Example4c">Total Cost Of Policy</label>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                            <input type="number" class="form-control form-control-lg" name="timeDuration" [(ngModel)]="NewPolicy.timeDuration" placeholder="Time Duration" />
                          <label class="form-label" for="form3Example4c">Time Duration Year</label>
                        </div>
                      </div>  

                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2"  />
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a href="#!">Terms of service</a>
                      </label>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg">Add Policy</button>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
