<nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <!-- <pre class="navbar-brand" href="#" style="font-weight: bold; color: darkblue;"> {{userName}}      LifeCare -- Say By To All Your Life Problems</pre> -->
        <a class="navbar-brand" href="#"> LifeCare -- Say Byy To All Your Life Problems</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h3 class="offcanvas-title" id="offcanvasNavbarLabel" style="font-family: cursive; color: darkblue;">LIFECARE - Solution for all your life problem</h3>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/userdashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/edituser">Manage Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Support</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Policy Status
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/usersubspolicy">Your Subscribe Policy</a></li>
                            <li><a class="dropdown-item" routerLink="/userpendingpolicy">Your Pending Policy</a></li>
                            <li><a class="dropdown-item" routerLink="/userrejectedpolicy">Your Rejected Policy</a></li>
                            <!-- <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/userrating">Logout</a>
                    </li>
                </ul>
                <!-- <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
            </div>
        </div>
    </div>
</nav>

<h1 style="font-family:'Times New Roman', Times, serif ; color: brown; font-size:42px; margin-top: 64px;">Update Your Account Details</h1>
<h3 style="color: red;font-family:cursive; padding-left: 10px;">Click on the field that you want to update .</h3>
<div style="display:flex ;">
    <div class="box-layout-1">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="user.name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="text" [(ngModel)]="user.password">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text" [(ngModel)]="user.email">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>City</mat-label>
            <input matInput type="text" [(ngModel)]="user.city">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput [(ngModel)]="user.age">
        </mat-form-field>
    
    </div>
    
    <div class="box-layout-2">
        <mat-form-field appearance="fill">
            <mat-label>Aadhar No</mat-label>
            <input matInput type="text" [(ngModel)]="user.aadharNo">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Pan No</mat-label>
            <input matInput type="text" [(ngModel)]="user.panNo">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <input matInput [(ngModel)]="user.state">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Salary</mat-label>
            <input matInput [(ngModel)]="user.salary">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Mobile No</mat-label>
            <input matInput [(ngModel)]="user.mobile">
        </mat-form-field>
    </div>

</div>
<div >
    <!-- (click)='#' -->
    <a  (click)='EditUser(user)' style="margin-bottom: 22px;" class="btn btn-primary">Update</a>
</div>


<footer>
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">LifeCare.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</footer>
