<h1 style="color:rgb(64, 124, 234); margin-left:400px; margin-top: 80px;">Thanks For using LifeCare - Solution for all
  your life Problems</h1>
<h1 style="color:rgb(17, 65, 152); margin-top: 20px; margin-left:550px;font-weight: 500;">Please Share Your Experiance .
</h1>
<div class="heart-rating">
  <div class="example-button-container">
    <button (click)=Rate1() mat-fab color="{{color1}}" aria-label="Example icon button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <div class="example-button-container">
    <button (click)=Rate2() mat-fab color="{{color2}}" aria-label="Example icon button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <div class="example-button-container">
    <button (click)=Rate3() mat-fab color="{{color3}}" aria-label="Example icon button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <div class="example-button-container">
    <button (click)=Rate4() mat-fab color="{{color4}}" aria-label="Example icon button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
  <div class="example-button-container">
    <button (click)=Rate5() mat-fab color="{{color5}}" aria-label="Example icon button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
  </div>

</div>
<div class="mb-3">
  <mat-form-field appearance="fill" style="width: 400px">
    <mat-label class="form-label" for="exampleFormControlTextarea1">Comment</mat-label>
    <!-- <input matInput type="text" [(ngModel)]="comment"> -->
    <textarea style="height: 250px; " matInput type="text" [(ngModel)]="comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </mat-form-field>
</div>


<!-- <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label"></label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div> -->

<div class="summit-button">
  <a (click)='Summit()' class="btn btn-primary" style="margin-right: 10px;">Summit</a>
</div>