.heart-rating{
    display: flex;
    margin-top: 50px;
    margin-left: 410px;
    
}
.example-button-container{
    margin-left: 60px;
}
.mb-3{
    margin-left: 520px;
    margin-top: 50px;
    width: 600px;
    
}
.summit-button{
    margin-left: 680px;
    margin-top: 30px;
}