<!-- <app-userdashboard></app-userdashboard> -->
<!-- <router-outlet></router-outlet> -->

<!-- <ul type="none" style="margin: 0; padding: 0;" >

    <li>
  
      <a routerLink="register">Register</a>
  
    </li>
  
    <li>
  
      <a routerLink="login">Login</a>
  
    </li>
  
    <router-outlet></router-outlet>
  
  </ul> -->
  <router-outlet></router-outlet>
