<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="container-fluid">
        
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           
            <a class="navbar-brand mt-2 mt-lg-0" href="#">
                <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15"
                    alt="MDB Logo" loading="lazy" />
            </a>
           
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admindashboard" style="color:darkblue;font-weight: bold;">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/adminviewpendingpolicy" style="color:darkblue;font-weight: bold;">All Pending Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/logout" style="color:darkblue;font-weight: bold;">Logout</a>
                </li>
            </ul>
           
        </div>
       
        <div class="d-flex align-items-center">
           
            <a class="text-reset me-3" href="#">
                <i class="fas fa-shopping-cart"></i>
            </a>

            
            <div class="dropdown">
                <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink"
                    role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-bell"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">1</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                    <li>
                        <a class="dropdown-item" href="#">Some news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Another news</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                </ul>
            </div>
            
            <div class="dropdown">
                <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
                    id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25"
                        alt="Black and White Portrait of a Man" loading="lazy" />
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                    <li>
                        <a class="dropdown-item" href="#">My profile</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" routerLink="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
      
    </div>
</nav>
<h1 style="font-family:'Times New Roman', Times, serif ; color: brown; text-align: center; margin-top: 50px;">Provide The Reason For Rejecting Loan</h1>
<mat-form-field appearance="fill" style="align-items: center; margin-left: 650px; margin-top: 20px;">
    <mat-label>Reason For Rejection </mat-label>
    <input matInput type="text" [(ngModel)]="ReasonForPolicyRejection">
</mat-form-field>

<!-- <form [formGroup]="RejectForm" (ngSubmit)="RejectPolicy(RejectForm)">
    <div class="my-text-box">
      <mat-form-field appearance="fill">
        <input matInput placeholder="commend" type="text" formControlName="commend">
      </mat-form-field>
    </div>
    <div style="margin-bottom: 305px;">
        <a style="align-items: center; margin-left: 710px;" class="btn btn-danger" >Reject</a>
    </div>
</form>     -->

<div style="margin-bottom: 305px;">
    <a style="align-items: center; margin-left: 710px;" (click)='RejectPolicy()' class="btn btn-danger" >Reject</a>
</div>

<footer>
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">LifeCare.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</footer>
