<app-nav></app-nav>
<div class="box-layout-1">
<mat-form-field appearance="fill">
    <mat-label>Policy Name</mat-label>
    <input matInput type="text" [(ngModel)]="PolicyToUpdate.policyName">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Policy Discription</mat-label>
    <input matInput type="text" [(ngModel)]="PolicyToUpdate.policyDiscription">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Policy Category</mat-label>
    <input matInput type="text" [(ngModel)]="PolicyToUpdate.policyCategory">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Policy Image Link</mat-label>
    <input matInput type="text" [(ngModel)]="PolicyToUpdate.policyImagePath">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Total Cost</mat-label>
    <input matInput [(ngModel)]="PolicyToUpdate.totalCost">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Time Duration</mat-label>
    <input matInput [(ngModel)]="PolicyToUpdate.timeDuration">
</mat-form-field>
</div>
<div >
    <!-- (click)='#' -->
    <a  (click)='EditPolicy(PolicyToUpdate)' style="margin-bottom: 22px;" class="btn btn-primary">Edit Policy</a>
</div>

<footer>
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-linkedin-in"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/">LifeCare.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</footer>
