<form [formGroup]="LoginForm" (ngSubmit)="submitRating(LoginForm)">
    <div class="my-text-box">
      <mat-form-field appearance="fill">
        <input matInput placeholder="email" type="text" formControlName="email">
      </mat-form-field>
    </div>
    <div class="my-text-box">
        <mat-form-field appearance="fill">
          <input matInput placeholder="password" type="text" formControlName="password">
        </mat-form-field>
      </div>
    <div class="my-submit">
      <div class="pt-1 mb-4">
        <button class="btn btn-dark btn-lg btn-block">submit</button>
      </div>
    </div>
  </form>
